html
    head
        h1 UserList
    body
        if action=='delete'
            h1 User deleted
        if action =='edit'
            h1 user updated 
        if users.length>0
            table

                tr
                    td name 
                    td password 
                    td gender
                    td isAdmin
                each user in users 
                    tr 
                        td #{user.name}
                        td #{user.password}
                        td #{user.gender}
                        td #{user.isAdmin}
                        td 
                            a(href=`/admin/edituser/${user.id}`) edit
                        td  
                            a(href=`/admin/deleteuser/${user.id}`) delete

        else 
            h1 No users available 
